# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Env files
.env
.env.local
.env.*

# OS
.DS_Store
Thumbs.db
%ProgramData%/
*.zip
